.movies__item {
  margin-bottom: 21px;
}

.noMovie {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .movies {
    width: 100%;
  }

  .movies__item {
    width: 100%;
    min-width: 300px;
  }

  .tryAgain {
    margin-bottom: 20px;
  }
}
