.main-page__content {
  padding: 42px calc(50% - 500px);
  display: flex;
  justify-content: space-around;
}

.main-page__main-section {
  padding-left: 25px;
  box-sizing: border-box;
  width: 60%;
}

.main-page__search-box {
  margin-bottom: 35px;
}

.main-page__favorites {
  width: 35%;
}

@media (max-width: 800px) {
  .main-page__content {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main-page__main-section {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .main-page__favorites {
    margin: 0;
    width: 300px
  }

  .main-page__search-box {
    width: 300px;
  }
}
